@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    --pink: #FC458B;
    --bright-blue: #10ADEE;
    --medium-blue: #007cba;
    --yellow: #f7c100;
    --blue: #00a5de;
    --dark-bg: #333;
    --text: #222;
    --light-bg: #fafafa;
    --salmon: #ff7979;
    --french-sky-blue: #84AFE6;
    --aero: #79beee;
    --turquoise: rgb(65, 234, 212);
    --aero-blue: rgb(184, 242, 230);
    --queen-blue: rgb(65, 101, 138);
    --dark-slate-blue: rgb(65, 64, 115);
    --burnt-sienna: rgb(222, 110, 75);
    --blue-munsell: rgb(53, 135, 164);
    --dark-cyan: rgb(45, 137, 139);
    --steel-blue: rgb(53, 129, 184);
    --mac-and-cheese: rgb(252, 176, 126);
    --left-bg: rgba(53, 129,184, .8);
    --right-bg: rgba(252, 176, 126, .8);
    --hover-width: 75%;
    --unhover-width: 25%;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--french-sky-blue);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.container{
    background-color: rgba(0, 0, 0, .3);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1{
    text-align:center;
    margin-bottom: 30px;
}

.container a{
    text-decoration: none;
    color: var(--turquoise);
    transition: all 0.5s ease;
}

.container a:hover{
    text-decoration: none;
    color: var(--dark-slate-blue);
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;

}

.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: var(--turquoise);
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: var(--turquoise);
    border: 0;
    padding: 15px;
    color: var(--dark-slate-blue);
    font-size: 16px;
    transition: all 0.5s ease;
    font-family: inherit;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:focus{
    outline: 0;
    box-shadow: none;
}

.btn:hover{
    color: #fff;
    background-color: var(--dark-slate-blue);
}

.btn:active{
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus,
.form-control input:active,
.form-control input{
    box-shadow: none;
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color: var(--turquoise);
    transform: translateY(-30px);
}